@model QLWEB.Models.MT

@{
    ViewBag.Title = "Thêm sản phẩm mới";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<h2 class="text-center mt-4">Thêm sản phẩm mới</h2>

@using (Html.BeginForm("Add", "MayTinh", FormMethod.Post, new { enctype = "multipart/form-data", @class = "container mt-5 col-md-6 bg-light p-4 rounded shadow" }))
{
    
    <div class="mb-3">
        <label for="ID" class="form-label">ID sản phẩm</label>
        @Html.TextBoxFor(m => m.MTID, new { @class = "form-control", placeholder = "Nhập ID sản phẩm" })
        @Html.ValidationMessageFor(m => m.TenSP, "", new { @class = "text-danger" })
    </div>
    
    <div class="mb-3">
        <label for="TenSP" class="form-label">Tên sản phẩm</label>
        @Html.TextBoxFor(m => m.TenSP, new { @class = "form-control", placeholder = "Nhập tên sản phẩm" })
        @Html.ValidationMessageFor(m => m.TenSP, "", new { @class = "text-danger" })
    </div>
    
    <div class="mb-3">
        <label for="TH" class="form-label">Thương hiệu</label>
        @Html.TextBoxFor(m => m.ThuongHieu, new { @class = "form-control", placeholder = "Nhập Thương hiệu" })
        @Html.ValidationMessageFor(m => m.TenSP, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="DanhMucID" class="form-label">Danh mục</label>
        @Html.DropDownListFor(m => m.DanhMucID, (SelectList)ViewBag.Categories, "Chọn danh mục", new { @class = "form-select" })
        @Html.ValidationMessageFor(m => m.TenSP, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="MoTa" class="form-label">Mô tả</label>
        @Html.TextAreaFor(m => m.MoTa, new { @class = "form-control", rows = "4", placeholder = "Nhập mô tả sản phẩm" })
        @Html.ValidationMessageFor(m => m.TenSP, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="Gia" class="form-label">Giá</label>
        @Html.TextBoxFor(m => m.Gia, new { @class = "form-control", placeholder = "Nhập giá sản phẩm" })
        @Html.ValidationMessageFor(m => m.TenSP, "", new { @class = "text-danger" })
    </div>
    
    <div class="mb-3">
        <label for="SL" class="form-label">Số lượng</label>
        @Html.TextBoxFor(m => m.SoLuongKho, new { @class = "form-control", placeholder = "Nhập Số lượng" })
        @Html.ValidationMessageFor(m => m.TenSP, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="Ram" class="form-label">Ram</label>
        @Html.TextBoxFor(m => m.RAM, new { @class = "form-control", placeholder = "Nhập dung lượng RAM" })
        @Html.ValidationMessageFor(m => m.TenSP, "", new { @class = "text-danger" })
    </div>
    
    <div class="mb-3">
        <label for="ViXuLy" class="form-label">Vi Xử Lý</label>
        @Html.TextBoxFor(m => m.ViXuLy, new { @class = "form-control", placeholder = "Nhập Vi Xử Lý" })
        @Html.ValidationMessageFor(m => m.TenSP, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="Luu" class="form-label">Lưu trữ</label>
        @Html.TextBoxFor(m => m.LuuTru, new { @class = "form-control", placeholder = "Nhập dung lượng lưu trữ" })
        @Html.ValidationMessageFor(m => m.TenSP, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="Man" class="form-label">Kích thước màn hình</label>
        @Html.TextBoxFor(m => m.KichThuocManHinh, new { @class = "form-control", placeholder = "Nhập kích thước màn hình" })
        @Html.ValidationMessageFor(m => m.TenSP, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="Mau" class="form-label">Màu sắc</label>
        @Html.TextBoxFor(m => m.MauSac, new { @class = "form-control", placeholder = "Nhập màu sắc" })
        @Html.ValidationMessageFor(m => m.TenSP, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="pin" class="form-label">Dung lượng pin</label>
        @Html.TextBoxFor(m => m.DungLuongPin, new { @class = "form-control", placeholder = "Nhập dung lượng pin" })
        @Html.ValidationMessageFor(m => m.TenSP, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="file" class="form-label">Chọn ảnh</label>
        <input type="file" name="file" id="file" class="form-control" />
    </div>

    <div class="text-center">
        <input type="submit" value="Thêm sản phẩm" class="btn btn-success w-100" />
    </div>
    <a href="@Url.Action("test", "MayTinh")" class="btn btn-primary">Quay lại</a>
}
